#Profile label,
#Profile input[type="checkbox"] {
  display: none;
  font-size: 22px;
  transition: opacity 0.5s ease;
}

#Profile label {
  display: none;
  width: 120px;
  height: 36px;
  padding: 8px;
  right: 0px;
  top: 0px;
  background-color: #202022;
  color: #ceb15a;
  font-size: 12px;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



element.style {
  background-color: black;
}

.cont {
  background-color: black;
  font-family: 'poppins', sans-serif;
  color: white;
  display: flex;

}

#Profile {
  margin: 35px;
  width: 300px;
  height: auto;
  background-color: #1E1E1F;
  border: 2px solid #383838;
  border-radius: 20px;
  text-align: center;
  position: fixed;
}

#Profile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 20px;
  padding: 3px;
  border: 2px solid #ceb15a;
}

#Profile button {
  width: 120px;
  height: 30px;
  border: 2px solid #383838;
  background-color: #2b2b2c;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

#Profile h3 {
  font-size: 26px;
}

#Profile h4 {
  font-size: 16px;
  margin-top: 15px;
}

#Line {
  width: 95%;
  height: auto;
  border: 2px solid #383838;
  margin-top: 25px;
  padding-top: 20px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.info {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  color: #e0c264;
  margin: 0px;
  padding: 5px;
  background: #202022;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.info ul {
  list-style: none;
  text-align: left;
  margin-left: -20px;
  font-size: 14px;
  line-height: 20px;
}

#title {
  font-size: 12px;
  color: #D6D6D6B2;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  padding-top: 10px;
}
.social{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social i {
  cursor: pointer;
}

.social a {
  text-decoration: none;
  color: white;
}


/* Navbar CSS */

#nav {
  width: 500px;
  height: 70px;
  background-color: #2B2B2CBF;
  border: 2px solid #383838;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 20px;
  border-start-end-radius: 20px;
  float: right;

}

#nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  padding-top: 20px;
  cursor: pointer;
}

.active {
  color: #ebca69;
}

/* Main */


#main {
  width: 90%;
  height: auto;
  margin: 35px;
  padding: 0;
  background-color: #1E1E1F;
  border: 2px solid #383838;
  border-radius: 20px;
  position: relative;

}


/* About CSS */

#about h2::after,
#resume h2::after,
#portfolio h2::after,
#contact h2::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 8px;
  border-radius: 20px;
  top: 80px;
  left: 30px;
  background-color: #e0c264;
}


#about p,
.boxs p {
  color: #D6D6D6;
  margin: 0;
  padding: 0;
  width: 950px;
}

.boxs {
  width: 508px;
  height: 140px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  padding: 25px;
  background: #202022;
  box-shadow: -1.8px -1.5px 1px 0px #3b3b3b;
}

.boxs i {
  color: #e0c264;
  font-size: 40px;
}

#box {
  display: flex;
  gap: 40px;
}

#box p {
  width: 400px;
}


/* Resume CSS */
.head {
  display: flex;
  gap: 25px;

}

.head h3 {
  font-size: 24px;
  color: #FAFAFA;
}

.icon-2 {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  color: #e0c264;
  text-align: center;
  background: #202022;
  box-shadow: #3b3b3b 0px 50px 100px -20px, #3b3b3b 0px 30px 60px -30px, #3b3b3b 1px 1px 0.9px 0px inset;
}

.head::before {
  content: '';
  position: absolute;
  height: 290px;
  width: 0.5px;
  left: 47px;
  top: 158px;
  background-color: #3b3b3b;
}

.head::after {
  content: "";
  position: absolute;
  top: 185px;
  left: 42.6px;
  height: 10px;
  width: 10px;
  background-color: #e0c264;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #383838;
}

.degrees::after {
  content: "";
  position: absolute;
  top: 305px;
  left: 42.6px;
  height: 10px;
  width: 10px;
  background-color: #e0c264;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #383838;
}

.degrees p::after {
  content: "";
  position: absolute;
  top: 445px;
  left: 42.6px;
  height: 10px;
  width: 10px;
  background-color: #e0c264;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #383838;
}

.degrees {
  margin-inline-start: 65px;
  padding-right: 20px;
}

.degrees span {
  color: #ceb15a;
  margin: 0px;
}

.degrees p {
  color: #D6D6D6;
  font-size: 15px;
  margin-top: 8px;
}

.degrees h4 {
  font-size: 16px;
}

.skill {
  width: 980px;
  height: 230px;
  background: #202022;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -2px -2px 0px 0px #383838;
  margin-inline-start: 15px;
}

.skills h3 {
  margin-inline-start: 15px;
}

#bar {
  height: 8px;
  color: #ceb15a;
  background-color: #383838;
  margin-top: 10px;
}






/* Portfolio */
#portfolio {
  width: 1078px;
}


#portfo:hover {
  transform: scale(0.99);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-blend-mode: hue;
}

#portfo:hover #buto {
  transform: scale(0.99);
  transition: all 0.5s ease-in-out;
  display: block;
  opacity: 1;
}

#portfo h3:hover {
  opacity: 1;
}

#portfo img {
  width: 320px;
  height: 220px;
  border-radius: 20px;
}

#portfo h3 {
  font-size: 20px;
  color: #FAFAFA;
  margin-inline-start: 15px;
  margin-top: 15px;
  opacity: 1;
}

#portfo p {
  font-size: 15px;
  color: #D6D6D6B2;
  margin-inline-start: 15px;
  margin-top: -5px;
}



#buto {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: #3b3b3b;
  border-radius: 10px;
  border: none;
  color: #ceb15a;
  position: absolute;
  top: 90px;
  left: 140px;
  display: none;
}



/* Contact */
#contact {
  width: 1065px;
}

form {
  width: 1010px;
  display: flex;
  gap: 20px;
}

#contact input {
  width: 505px;
  height: 60px;
  padding-left: 20px;
  background-color: transparent;
  border: 2px solid #383838;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
}

#contact textarea {
  width: 1010px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #383838;
  padding: 15px;
  color: white;
}

#contact button {
  width: 200px;
  height: 50px;
  color: #e0c264;
  border: 2px solid #383838;
  border-radius: 10px;
  background: #202022;
  box-shadow: 0px 0px 0px 0px #383838;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  margin-right: 20px;
}

#button {
  display: flex;
  justify-content: end;
}